{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Yupeek Timeline</title>
        <script src="{% static 'vis.min.js' %}"></script>
        <link href="{% static 'vis.min.css' %}" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <h1>THE YUPEEK TIMELINES</h1>
        {% for timeline in datas %}
            <h2>{{ timeline.title }}</h2>
            <div id="visualization-{{ timeline.title }}"></div>

            <script type="text/javascript">
                var container_{{ timeline.title }} = document.getElementById("visualization-{{ timeline.title }}");
                var items_{{ timeline.title }} = new vis.DataSet([
                    {% for element in timeline.content %}
                                            {
                        id: '{{ element.id }}',
                        content: '{{ element.content }}',
                        start: '{{ element.start_date | date:"Y-m-d" }}'
                    },
                    {% endfor %}
                ]);
                var options = {};
                var timeline_{{ timeline.title }} = new vis.Timeline(container_{{ timeline.title }}, items_{{ timeline.title }}, options);
            </script>
        {% endfor %}
    </body>
</html>
